.headerInicio {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  border-bottom: 1px solid #1e2a3a;
}
.linksNavegar {
  display: flex;
  align-items: center;
  gap: 30px;
}
/*Estilo de cada enlace de la menú de navegación */
.linksNavegar a {
  color: #8b949e;
  font-size: 14px;
}
.zonaLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.iconoLogo {
  font-size: 18px;
  color: #4d7cfe;
  font-weight: bold;
}
.tituloLogo {
  font-size: 18px;
  font-weight: bold;
  color: #e6edf3;
}
.botonLogin {
  background-color: transparent;
  border: 1px solid #4d7cfe;
  color: #4d7cfe;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}
.botonLogin:hover {
  background-color: #4d7cfe;
  color: white;
}


.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.card {
  background-color: #161b27;
  border: 1px solid #21283a;
  border-radius: 10px;
  padding: 40px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.tituloRegistro{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #e6edf3;
  margin: 0 0 25px;
}

.zonaRoles {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  border: 1px solid #21283a;
}
.rol {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  background-color: transparent;
  color: #8b949e;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.rol:hover {
  background-color: #1e2a3a;
  color: #e6edf3;
}
.rolSeleccionado{
  background-color: #4d7cfe;
  color: white;
}
.iconoRol {
  font-size: 16px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.campoForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.etiquetaCampo {
  font-size: 14px;
  color: #8b949e;
  font-weight: bold;
}
.grupoInput {
  display: flex;
  align-items: center;
  background-color: #0d1117;
  border: 1px solid #21283a;
  border-radius: 10px;
  padding: 0 15px;
  transition: 0.2s;
}
.grupoInput:focus-within {
  border-color: #4d7cfe;
}
.iconoEntrada {
  font-size: 16px;
  margin-right: 10px;
  opacity: 0.6;
}
.entrada {
  flex: 1;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  padding: 12px 0;
}
.entrada::placeholder {
  color: #3d4a5c;
}

.botonSubmitRegistro {
  width: 100%;
  text-align: center;
  padding: 12px;
  background-color: #4d7cfe;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}
.botonSubmitRegistro:hover {
  background-color: #3a6aef;
}
