.layout {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
  color: #e6edf3;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #1e2a3a;
}
.bienvenida {
  font-size: 24px;
  font-weight: bold;
  color: #e6edf3;
  margin: 0;
}

.contenidoPagina {
  display: flex;
  gap: 20px;
  padding: 30px;
  flex: 1;
}
.ladoIzquierdo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ladoDerecho {
  width: 300px;
}

.zonaEstadisticas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.estadisticaCard {
  background-color: #161b27;
  border: 1px solid #21283a;
  border-radius: 10px;
  padding: 20px;
}
.grupoIconoEstadistica {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.iconoEstadistica {
  font-size: 20px;
}
.etiquetaEstadistica {
  font-size: 14px;
  color: #8b949e;
  margin: 0 0 5px;
}
.valorEstadistica {
  font-size: 30px;
  font-weight: bold;
  color: #e6edf3;
}

.zonaAsignaturas {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.encabezadoZona {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tituloZona {
  font-size: 18px;
  font-weight: bold;
  color: #e6edf3;
  margin: 0;
}
.verTodas {
  font-size: 14px;
  color: #4d7cfe;
}
.verTodas:hover {
  text-decoration: underline;
}

.asignaturasGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.erroresCard {
  background-color: #161b27;
  border: 1px solid #21283a;
  border-radius: 10px;
  padding: 20px;
}
.tituloErrores {
  font-size: 16px;
  font-weight: bold;
  color: #e6edf3;
  margin: 0 0 20px 0;
  text-align: center;
}
.listaErrores {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.error {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.errorTop {
  display: flex;
  align-items: center;
  gap: 10px;
}
.errorEjercicio {
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
}
.descripcionError {
  font-size: 13px;
  color: #8b949e;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.porcentajeError{
  font-size: 13px;
  font-weight: bold;
  color: #e6edf3;
}

.progressBarError {
  height: 5px; 
  background-color: #21283a;
  border-radius: 3px;
  width: 100%;
}
.rellenoProgressBarError {
  height: 100%;
  border-radius: 3px;
}

.verAnalisis {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #4d7cfe;
}
.verAnalisis:hover {
  text-decoration: underline;
}